:root {
    --background: #4F4A45;
    --primary: #1e90ff;
    --primary-text: #EADBC8;
    --secondary: #ffffff;
    --secondary-text: #ffffff;
    --width-mobile: 400px;
 
  }

body{
    margin: auto;
    color: white;
    overflow-y: auto;
    height: auto;
    
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
}
.image-backdrop{
    position: fixed;
    top: 0px;
    left:0px;
    z-index: -1;
    width: 100%;
    
  }
  .image-overlay{
    position: fixed; /* Sit on top of the page content */
  /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: -1; 
  cursor: pointer;
  }
a{
    color: #EADBC8;
}

.card{
    background: linear-gradient(
       to left,#4F4A45 ,#6C5F5B
    );
    color: #EADBC8;
    box-shadow: 5px 5px 5px 0 #3c3832ac;
    padding: 5px;
    opacity: 90%;
}


.store-name{
    color: #ED7D31;
}
.ratingDiv{
    
    margin: 0 10px 0 5px;
    width: 100px;
    height: 58px;
    border-radius: 5px;
    font-size: 2.5em;
    background: #EADBC8;
    color: #ED7D31;
    border: #ED7D31 solid 2px;
}


.cardThumbnail{
    border: #ED7D31 solid 4px;
    width: 100px;
    border-radius: 10px;
}

.addressBox{
    margin: 0 5px 0 5px;
    text-align: start;
}

.navBar{
    display: inline-flex;
    justify-content:left;
    width: 100%;
    list-style: none;
    padding-left: 0;
    
}

.navBar > li{
    border: #EADBC8 solid 1px;
    flex: 1;
    height: 100%;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

/*List*/
.list-item{
    list-style: none;
}

.rating-store-page{
    font-size: 2em;
}

/*Store Page Styles */
.store-image-div { 
    width: 30%; 
    background-color: #6C5F5B;
    margin: 3%; 
    border: 1px solid #fff; 
} 

.store-image-txt { 
    text-align: center; 
    padding: 10px; 
} 
.drinks-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.drinks-list-item{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: linear-gradient(
       to left,#ED7D31 ,#f39455
    );
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}
.drinks-list-item:nth-child(odd){
    background: linear-gradient(
       to left,#f39455, #ED7D31
    );
}
    

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

*, *::before, *::after {
    box-sizing:content-box;
}

  @media only screen and (min-width: 600px) and (max-width:800px) {
    body {
      width: 80%;
      
    }
  }

  @media only screen and (min-width: 800px) {
    body {
      width: 60%;
      
    }
  }


