:root {
    --background: #4F4A45;
    --primary: #1e90ff;
    --primary-text: #EADBC8;
    --secondary: #ffffff;
    --secondary-text: #ffffff;

    --width-mobile: 400px;
  }

body{
    background: var(--background);
    color: var(--primary-text);
    overflow-y: auto;
    height: auto;

font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
}
a{
    color: #EADBC8;
}
.card{
    background: linear-gradient(
       to left,#f08b48 ,#e7640c
    );
    color: #EADBC8;
    box-shadow: 5px 5px 5px 0 #3c3832ac;
    padding: 5px;
}

.store-name{
    color: #4F4A45;
}
.ratingDiv{
    
   
}
.ratingDiv > p{
    font-size: 2.5em;
    padding: 5px 15px 5px 15px;
    background: #4F4A45;
    color: #ED7D31;
    border-radius: 5px;
    
    
}

.cardThumbnail{
    border: #ED7D31 solid 1px;
    box-shadow: 3px 3px 3px #4F4A45;
}

.addressBox{
    margin: 0 5px 0 5px;
}

.navBar{
    display: inline-flex;
    justify-content:left;
    width: 100%;
    list-style: none;
    padding-left: 0;
    
}

.music-player{
    background-color: #6C5F5B;
            padding: 20px;
            border-radius: 10px;
            display: inline-block;
            width: 90%;
            text-align: center;
            margin: 5px;
}
.music-player > audio{
    width: 100%;
    
}
.navBar > li{
    border: #EADBC8 solid 1px;
    flex: 1;
    height: 100%;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
/*List*/
.list-item{
    list-style: none;
}

.rating-store-page{
    font-size: 2em;
}

/*Store Page Styles */
.store-image-div { 
    width: 30%; 
    background-color: #6C5F5B;
    margin: 3%; 
    border: 1px solid #fff; 
} 

.store-image-txt { 
    text-align: center; 
    padding: 10px; 
} 
.drink-list{
    
    list-style: none;
    padding: 0;
    margin: 0;
}
.drinks-list-item{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #4F4A45;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}
.drinks-list-item:nth-child(odd){
    background-color: #6C5F5B;
}
*, *::before, *::after {
    box-sizing:content-box;
}

